In [1]:
import numpy as np
import pandas as pd
import regex as re
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer

In [2]:
doc_0='''<b>To sit in solemn</b> silence in a dull, dark dock,
In a pestilential prison, with a life-long lock,
Awaiting the sensation of a short, sharp shock,
From a cheap and chippy chopper on a big black block!
To sit in solemn silence in a dull, dark dock,
In a pestilential prison, with a life-long lock,
Awaiting the sensation of a short, sharp shock,
From a cheap and chippy chopper on a big black block!
A dull, dark dock, a life-long lock,
A short, sharp shock, a big black block!
To sit in solemn silence in a pestilential prison,
And awaiting the sensation
From a cheap and chippy chopper on a big black block!'''

doc_1='''I’m a mother pheasant plucker, I pluck mother pheasants.
I’m the most pleasant mother pheasant plucker to ever pluck a mother pheasant.
I’m not the pheasant plucker I’m the pheasant plucker’s wife, I’ve been plucking Mother pheasants my whole pheasant plucking life.
I’m not the pheasant plucker I’m the pheasant plucker’s mate, I’m only plucking Pheasants ’cause the pheasant plucker’s late.'''


doc_2='''A tree-toad loved a she-toad
Who lived up in a tree.
He was a two-toed tree-toad,
But a three-toed toad was she.
The two-toed tree-toad tried to win
The three-toed she-toad’s heart,
For the https://www.mondly.com/blog/71-best-tongue-twisters-to-perfect-your-english-pronunciation/ two-toed tree-toad loved the ground
That the three-toed tree-toad trod.
But the two-toed tree-toad tried in vain;
He couldn’t please her whim.
From her tree-toad bower,
With her three-toed power,
The she-toad vetoed him.'''

doc_3='''Mr. See owned a saw.
And Mr. Soar owned a seesaw.
Now, See’s6371 saw sawed Soar’s seesaw
Before Soar saw See,
Which made Soar sore.
Had Soar seen See’s saw
Before See sawed Soar’s seesaw,
See’s saw would not have sawed
Soar’s seesaw.
So See’s saw sawed Soar’s seesaw.
But it was sad to see Soar so sore
just because See’s saw sawed
Soar’s seesaw.'''

doc_4='''Ned Nott was shot ! and Sam Shott was not.
So it is better to be Shott than Nott.
Some say Nott was not shot.
But Shott @#$%^*)!^& says he shot Nott.
Either the shot Shott shot at Nott was not shot,
Or Nott was shot.
If the shot #Shott shot shot Nott, Nott was shot.
But if the sh&ot Shott shot shot Shott,
Then Shott was* shot, not Nott.'''

In [3]:
df_original=pd.DataFrame({'col':[doc_0,doc_1,doc_2,doc_3,doc_4]})
df_original

                                                 col
0  <b>To sit in solemn</b> silence in a dull, dar...
1  I’m a mother pheasant plucker, I pluck mother ...
2  A tree-toad loved a she-toad\nWho lived up in ...
3  Mr. See owned a saw.\nAnd Mr. Soar owned a see...
4  Ned Nott was shot ! and Sam Shott was not.\nSo...

In [4]:
df=df_original.copy()
df

                                                 col
0  <b>To sit in solemn</b> silence in a dull, dar...
1  I’m a mother pheasant plucker, I pluck mother ...
2  A tree-toad loved a she-toad\nWho lived up in ...
3  Mr. See owned a saw.\nAnd Mr. Soar owned a see...
4  Ned Nott was shot ! and Sam Shott was not.\nSo...

In [5]:
def textpre(x,stem=False):
    
    #uniform
    uniform=x.lower()
    
    #html tag remove
    htmlrem=re.sub(r'<.*?>','',uniform)
    
    #url remove
    url=re.sub(r'https?://\S+|www\.S\+','',htmlrem)
    
    #new line handel
    new=re.sub(r'\n',' ',url)
    
    #removing special char
    char=re.sub(r'[^a-zA-Z]',' ',new)
    
    #stopwords
    s=char.casefold().split()
    cleantok= [i for i in s if i not in stopwords.words('english')]
    
    #Stemming & Lemmatizatiion
    if stem:
        stemmer = SnowballStemmer('english')
        a = [stemmer.stem(i) for i in cleantok]
    else:
        lemmatizer = WordNetLemmatizer()
        a = [lemmatizer.lemmatize(i) for i in cleantok]
    return ' '.join(a)

In [6]:
df['Text_cleaned_lemmatizer'] = df['col'].apply(textpre)

In [7]:
df['Text_cleaned_stemmer'] = df['col'].apply(textpre,stem = True)

In [8]:
df

,col,Text_cleaned_lemmatizer,Text_cleaned_stemmer
0,"<b>To sit in solemn</b> silence in a dull, dar...",sit solemn silence dull dark dock pestilential...,sit solemn silenc dull dark dock pestilenti pr...
1,"I’m a mother pheasant plucker, I pluck mother ...",mother pheasant plucker pluck mother pheasant ...,mother pheasant plucker pluck mother pheasant ...
2,A tree-toad loved a she-toad\nWho lived up in ...,tree toad loved toad lived tree two toed tree ...,tree toad love toad live tree two to tree toad...
3,Mr. See owned a saw.\nAnd Mr. Soar owned a see...,mr see owned saw mr soar owned seesaw see saw ...,mr see own saw mr soar own seesaw see saw saw ...
4,Ned Nott was shot ! and Sam Shott was not.\nSo...,ned nott shot sam shott better shott nott say ...,ned nott shot sam shott better shott nott say ...

# uniform

In [9]:
df['col']=df['col'].str.lower()
df['col']

0    <b>to sit in solemn</b> silence in a dull, dar...
1    i’m a mother pheasant plucker, i pluck mother ...
2    a tree-toad loved a she-toad\nwho lived up in ...
3    mr. see owned a saw.\nand mr. soar owned a see...
4    ned nott was shot ! and sam shott was not.\nso...
Name: col, dtype: object

# html tag

In [10]:
x='<h>Sai situ </h>'
re.sub(r'<.*?>','',x)

'Sai situ '

In [11]:
def htmltag(x):
    return re.sub(r'<.*?>','',x)

In [12]:
df['col']=df['col'].apply(htmltag)
df['col']

0    to sit in solemn silence in a dull, dark dock,...
1    i’m a mother pheasant plucker, i pluck mother ...
2    a tree-toad loved a she-toad\nwho lived up in ...
3    mr. see owned a saw.\nand mr. soar owned a see...
4    ned nott was shot ! and sam shott was not.\nso...
Name: col, dtype: object

# url remover

In [13]:
def urlre(x):
    return re.sub(r'https?://\S+|www\.S\+','',x)

In [14]:
x='''he three-toed she-toad’s heart,
For the https://www.mondly.com/blog/71-best-tongue-twisters-to-perfect-your-english-pronunciation/ two-toed tree-toad loved the ground
That the three-'''
urlre(x)

'he three-toed she-toad’s heart,\nFor the  two-toed tree-toad loved the ground\nThat the three-'

# new line handel

In [15]:
x='he three-toed she-toad’s heart,\nFor the  two-toed tree-toad loved the ground\nThat the three-'
re.sub(r'\n','',x)

'he three-toed she-toad’s heart,For the  two-toed tree-toad loved the groundThat the three-'

# removing special char

In [16]:
x='he three-toed she-%toad’s& heart,For @the  t#wo-toed 1tree-!toad74 loved _the groundT+hat the three-'
re.sub(r'[^a-zA-Z]',' ',x)

'he three toed she  toad s  heart For  the  t wo toed  tree  toad   loved  the groundT hat the three '

# stopwords

In [17]:
x='he three toed she  toad s  heart For  the  t wo toed  tree  toad   loved  the groundT hat the three '.casefold().split()
x

['he',
 'three',
 'toed',
 'she',
 'toad',
 's',
 'heart',
 'for',
 'the',
 't',
 'wo',
 'toed',
 'tree',
 'toad',
 'loved',
 'the',
 'groundt',
 'hat',
 'the',
 'three']

In [18]:
z= [i for i in x if i not in stopwords.words('english')]
z

['three',
 'toed',
 'toad',
 'heart',
 'wo',
 'toed',
 'tree',
 'toad',
 'loved',
 'groundt',
 'hat',
 'three']

In [19]:
z

['three',
 'toed',
 'toad',
 'heart',
 'wo',
 'toed',
 'tree',
 'toad',
 'loved',
 'groundt',
 'hat',
 'three']

In [20]:
def stopword(x):
    z=[]
    for i in x.casefold().split():
        if i not in stopwords.words('english'):
            z.append(i)
    return ' '.join(z)

In [21]:
df['col']=df['col'].apply(stopword)
df['col']

0    sit solemn silence dull, dark dock, pestilenti...
1    i’m mother pheasant plucker, pluck mother phea...
2    tree-toad loved she-toad lived tree. two-toed ...
3    mr. see owned saw. mr. soar owned seesaw. now,...
4    ned nott shot ! sam shott not. better shott no...
Name: col, dtype: object